body {
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header {
    background-color: #333;
    color: rgb(173, 16, 139);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.purpose-section,
.about-section {
    width: 45%;
}

.main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse; /* Elimina espacios entre bordes */
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;

}
th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}